@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Kode+Mono:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Modern:wght@100..400&display=swap");

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #6cb6f2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

<<<<<<< HEAD
=======
html {
  scroll-behavior: smooth;
}

>>>>>>> 8062d6f885ffd2cabf73c53e9bdad2388390d620
#root {
  scroll-behavior: smooth;
  background-color: #eef4ed;
  letter-spacing: 1px;
}
